body{
    
    padding: 0;
    margin: 0;
    
}
#p1{
    background-color:#F5F1ED ;
    min-width: 750px;
    height: 290%;
    
     
}





input.btn:hover,input.btn1:hover{
    background-color: #e0ffff;
}
.div1{
    display:inline-block !important;
    margin:-5px 0px 0px 80px;
    min-width: 600px;
    width:60vw;
    padding:15px;
    word-spacing: 5pc;
    border:2px solid black ! important; border-radius:10px;
}
.div2{
    display:inline-block !important;
    margin:52px 0px 0px 80px;
    width:60vw;
    min-width: 600px;
    padding:15px;
    border:2px solid black ! important; border-radius:10px;
}
.div3{
    display:inline-block !important;
    margin:52px 0px 0px 80px;
    width:60vw;
    min-width: 600px;
    padding:15px;
    border:2px solid black ! important; border-radius:10px;
}
.div4{
    display:inline-block !important;
    margin:53px 0px 0px 80px;
    width:60vw;
    min-width: 600px;
    padding:15px;
    word-spacing: 5pc;
    border:2px solid black ! important; border-radius:10px;
}
.div5{
    display:inline-block !important;
    margin:58px 0px 0px 80px;
    width:60vw;
    min-width: 600px;
    padding:15px;
    border:2px solid black ! important; border-radius:10px;
}
.div6{
    display:inline-block !important;
    margin:60px 0px 0px 80px;
    width:60vw;
    min-width: 600px;
    padding:15px;
    border:2px solid black ! important; border-radius:10px;
}
.div7{
    display:inline-block !important;
    margin:62px 0px 0px 80px;
    width:60vw;
    min-width: 600px;
    padding:15px;
    word-spacing: 5pc;
    border:2px solid black ! important; border-radius:10px;
}
.div8{
    display:inline-block !important;
    margin:64px 0px 0px 80px;
    width:60vw;
    min-width: 600px;
    padding:15px;
    word-spacing: 5pc;
    border:2px solid black ! important; border-radius:10px;
}
.div9{
    display:inline-block !important;
    margin:66px 0px 0px 80px;
    width:60vw;
    min-width: 600px;
    padding:15px;
    border:2px solid black ! important; border-radius:10px;
}
.div10{
    display:inline-block !important;
    margin:68px 0px 0px 80px;
    width:60vw;
    min-width: 600px;
    padding:15px;
    border:2px solid black ! important; border-radius:10px;
}
.div11{
    display:inline-block !important;
    margin:52px 0px 0px 80px;
    width:60vw;
    min-width: 600px;
    padding:15px;
    border:2px solid black ! important; border-radius:10px;
    word-spacing: 5pc;
}
h2{
    display: inline;
    color: #00CED1;
}
.btn{
    display: inline; margin-left:80%; margin-top:-20px;color:black;background-color: #FF8C00;
}
.btn1{
    width: 7pc;
    display: inline; margin-left:80%; margin-top:-20px;color: black;background-color:#FF8C00 ;
}


#header
{
    height:60px;
    background: linear-gradient(100deg,#f39c12,transparent);
    box-sizing: border-box;
    width:100%;
    min-width: 750px;
    /* overflow:hidden; */
}

.dropdown-bars
{
  display:none;
}
.title
{
    display:inline-block;
    margin-left:0.3125rem;
}
.img
{
    width:60px;
    height:60px;
    margin-left:0.625rem;
    vertical-align:middle;
}
.list
{
    display:inline;
}
.li-item
{
    display:inline;
    color:black;
}
.nav-links
{
    color:black;
    margin-left:0.3125rem;
    text-transform:uppercase;
    text-decoration: none;
}
.search
{
    display: inline-block;
    box-sizing:border-box;
    margin-left:22rem;
    margin-top:15px;
    /* vertical-align: middle; */
}
#search-bar
{
    border-radius:15px;
    border-width:0px;
}
.icons
{
    display: inline-block;
    margin-left:2.5rem;
    margin-top:18px;
}
.icons i{
    margin-left:1.6rem;
}
.dropdown{
    display:inline-block;
    position:relative;
    /* float: right; */
    margin-top:5px;
}
.dropdown .username {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    text-transform:uppercase;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
 .dropdown:hover .username {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  @media(max-width:1378px)
  {
    .search
        {
            margin-left:10rem;
        }
  }
  @media(max-width:1190px)
  {
    .search
        {
            margin-left:3rem;
        }
        .icons
        {
            margin-left:1.2rem;
        }
        .icons i{
            margin-left:0.6rem;
        }
  }
  @media(max-width:1010px)
  {
        .list{
            padding:0px;
        }
      .search{
          display: none;
      }
  }
  @media(max-width:745px)
  {
      .title{
          display:none;
      }
      .dropdown,#user{
          display:none;
      }
      .list{
          display:none;
      }
      .icons{
          margin-left:20%;
      }
      .img{
          margin-left:40%;
      }
      .dropdown-bars{
        display:inline-block;
        margin-top:5px;
    }
      .dropdown-content-bars {
        display: none;
        margin-right:50%;
        position: fixed;
        top:60px;
        background-color: #f9f9f9;
        /* min-width:160px; */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }
      
      .dropdown-content-bars a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content-bars a:hover {
        background-color: #d35400;
      }
      
      .dropdown-bars:hover .dropdown-content-bars {
        display: block;
        left:0px;
      }
      /*  */
      #bars
      {
        display:inline;
        position:fixed;
        left:0.725rem;
        top:20px;
      }
  }
  @media(max-width:298px)
  {
      #header
      {
          overflow:hidden;
      }
  }

  







.hello4{
    display:inline; margin-left:20vw;width: 100px;height: 2pc;
}
h4.hello7{
color: lightgray;position:absolute;left: 5pc;display: flex;top: 5pc;color: #00CED1;
}
h1.hello8{
    position: absolute;left: 5pc;display: flex;top: 6pc;color: #FF8C00;
}
hr.hello9{
   position: absolute;top: 10pc; border: 1px solid lightgrey;min-width: 750px;width: 100%;
}
p.hello10{
position: absolute; left: 5pc;font-size: 1.3pc;top: 11pc;color:#FF8C00;
}
h3.a3{
     position: absolute;left: 5pc;top: 21pc;
} 
#c1{
display: flex; position:absolute;right:21pc;top:21pc;
}
.l1{
    display: flex; position: absolute;right:18.5pc;top:21pc;color: #00CED1;
}
#c2{
    display: flex; position: absolute;right:21pc;top:23pc;
}
.l2{
    display: flex; position: absolute;right:17.5pc;top: 23pc;color:#00CED1;
}
#c3{
    display: flex; position: absolute; right: 21pc;top: 25pc;
}
.l3{
    display:flex ;position:absolute;right:16.5pc;top:25pc;color: #00CED1;
}
#c4{
    display:flex; position:absolute;right:21pc;top:27pc;
}
.l4{
    display:flex; position:absolute;right:15pc;top:27pc;color:#00CED1;
}
#c5{
    display:flex; position:absolute;right:21pc;top:29pc;
}
.l5{
    display:flex; position:absolute;right:16pc;top:29pc;color: #00CED1;
}
#c6{
    display:flex; position:absolute;right:21pc;top:31pc;
}
.l6{
    display:flex; position:absolute;right:20.5pc;top:31pc;color: #00CED1;
}
#c7{
    display:flex; position:absolute;right:21pc;top:33pc;
}
.l7{
    display:flex; position:absolute;right:12.5pc;top:33pc;color: #00CED1;
}
#c8{
    display:flex; position:absolute;right:21pc;top:35pc;
}
.l8{
    display:flex; position:absolute;right:19pc;top:35pc;  color: #00CED1;
}
#c9{
    display:flex; position:absolute;right:21pc;top:37pc;
}
.l9{
    display:flex; position:absolute;right:19.2pc;top:37pc;color: #00CED1;
}
#c10{
    display:flex; position:absolute;right:21pc;top:39pc;
}
.l10{
    position:absolute;right:18.2pc;top:39pc; color:#00CED1;
}
#c11{
    position:absolute;right:21pc;top:41pc;
}
.l11{
    position:absolute;right:18.7pc;top:41pc; color: #00CED1;
}
#c12{
    position:absolute;right:21pc;top:43pc;
}
.l12{
    position:absolute;right:19pc;top:43pc; color: #00CED1;
}
#c13{
    position:absolute;right:21pc;top:45pc;
}
.l13{
    position:absolute;right:17pc;top:45pc; color: #00CED1;
}
#c14{
    position:absolute;right:21pc;top:47pc;
}
.l14{
    position:absolute;right:13pc;top:47pc; color:#00CED1;
}
#c15{
    position:absolute;right:21pc;top:49pc;
}
.l15{
    position:absolute;right:16.5pc;top:49pc; color: #00CED1;
}
#c16{
    position:absolute;right:21pc;top:51pc;
}
.l16{
    position:absolute;right:11pc;top:51pc; color: #00CED1;
}
#c17{
    position:absolute;right:21pc;top:53pc;
}
.l17{
    position:absolute;right:18.5pc;top:53pc; color: #00CED1;
}
#c18{
    position:absolute;right:21pc;top:55pc;
}
.l18{
    position:absolute;right:12.2pc;top:55pc; color:#00CED1;
}
#c19{
    position:absolute;right:21pc;top:57pc;
}
.l19{
    position:absolute;right:17.7pc;top:57pc;  color:#00CED1;
}
.b1{
    position: absolute;right:15pc;top:10pc;color: #FF8C00;
}
.b2{
    position: absolute;right:16.5pc;top:12pc;color: #00CED1;
}
.b3{
    position: absolute;right:16pc;top:14pc;color: #00CED1;
}
.b4{
    position: absolute;right:18pc;top:16pc;font-size:2pc;color: #FF8C00;
}
.b5{
    position: absolute; right:14pc;top: 60pc;font-size: 1.5pc;color: #FF8C00;
}
.b6{
    position: absolute; right:14pc;top: 63pc;color:#00CED1;
}
.b7{
    position: absolute; right:14.5pc;top: 65pc; color:#00CED1;
}
.b8{
    position: absolute; right:14pc;top: 67pc; color:#00CED1;
}
.b9{
    color: #00CED1;position:absolute;left:25pc;top:98pc;
}
.b10{
    color: #00CED1;position: absolute;left: 20pc;top: 110pc;
}
@media screen and (max-width:1290px){
    .hello10{
        position: absolute;
        left: 5pc;
        top:10pc;
    }
    .b1{
        position: absolute;
        top:106pc;
        left: 5pc;
    }
    .b2{
        position: absolute;
        top:108pc;
        left: 5pc;
    }
    .b3{
        position: absolute;
        top: 110pc;
        left: 5pc;
    }
    .b4{
        position: absolute;
        top:112pc;
        left: 5pc;
    }
    .b5{
        position:absolute;
        top: 154pc;
        left: 5pc;
    }
    .b6{
        top: 157pc;
        left:5pc;
    }
    .b7{
        position: absolute;
        top:159pc;
        left: 5pc;
    }
    .b8{
        position: absolute;
        top:161pc;
        left: 5pc;
    }
    .b9{
        position: absolute;
        top:103pc;
        left: 5pc;
    }
    .b10{
        position: absolute;
        top:166pc;
        left: 5pc;
    }
    
    #c1{
        position: absolute;
        top: 117pc;
        left: 5pc;
    }
    .l1{
        position: absolute;
        top: 117pc;
        left:7pc;
    }
    #c2{
        position: absolute;
        top: 119pc;
        left: 5pc;
    }
    .l2{
        position: absolute;
        top: 119pc;
        left:7pc;
    }
    #c3{
        position: absolute;
        top: 121pc;
        left: 5pc;
    }
    .l3{
        position: absolute;
        top: 121pc;
        left:7pc;
    }
    #c4{
        position: absolute;
        top: 123pc;
        left: 5pc;
    }
    .l4{
        position: absolute;
        top: 123pc;
        left:7pc;
    }
    #c5{
        position: absolute;
        top: 125pc;
        left: 5pc;
    }
    .l5{
        position: absolute;
        top: 125pc;
        left:7pc;
    }
    #c6{
        position: absolute;
        top: 127pc;
        left: 5pc;
    }
    .l6{
        position: absolute;
        top: 127pc;
        left:7pc;
    }
    #c7{
        position: absolute;
        top: 129pc;
        left: 5pc;
    }
    .l7{
        position: absolute;
        top: 129pc;
        left:7pc;
    }
    #c8{
        position: absolute;
        top: 131pc;
        left: 5pc;
    }
    .l8{
        position: absolute;
        top: 131pc;
        left:7pc;
    }
    #c9{
        position: absolute;
        top: 133pc;
        left: 5pc;
    }
    .l9{
        position: absolute;
        top: 133pc;
        left:7pc;
    }
    #c10{
        position: absolute;
        top: 135pc;
        left: 5pc;
    }
    .l10{
        position: absolute;
        top: 135pc;
        left:7pc;
    }
    #c11{
        position: absolute;
        top: 137pc;
        left: 5pc;
    }
    .l11{
        position: absolute;
        top: 137pc;
        left:7pc;
    }
    #c12{
        position: absolute;
        top: 139pc;
        left: 5pc;
    }
    .l12{
        position: absolute;
        top: 139pc;
        left:7pc;
    }
    #c13{
        position: absolute;
        top: 141pc;
        left: 5pc;
    }
    .l13{
        position: absolute;
        top: 141pc;
        left:7pc;
    }
    #c14{
        position: absolute;
        top: 143pc;
        left: 5pc;
    }
    .l14{
        position: absolute;
        top: 143pc;
        left:7pc;
    }
    #c15{
        position: absolute;
        top: 145pc;
        left: 5pc;
    }
    .l15{
        position: absolute;
        top: 145pc;
        left:7pc;
    }
    #c16{
        position: absolute;
        top: 147pc;
        left: 5pc;
    }
    .l16{
        position: absolute;
        top: 147pc;
        left:7pc;
    }
    #c17{
        position: absolute;
        top: 149pc;
        left: 5pc;
    }
    .l17{
        position: absolute;
        top: 149pc;
        left:7pc;
    }
    #c18{
        position: absolute;
        top: 151pc;
        left: 5pc;
    }
    .l18{
        position: absolute;
        top: 151pc;
        left:7pc;
    }
    #c19{
        position: absolute;
        top: 153pc;
        left: 5pc;
    }
    .l19{
        position: absolute;
        top: 153pc;
        left:7pc;
    }
    @media screen and (max-width:935px) {
        .search input,.username,#search_icon,#user{
          display: none;
        }
        #message-icon{
             position: absolute;
             left:14pc;
             top: 20px;
        }
        #bell{
            position: absolute;
            left:16pc;
            top: 20px;

        }
  
        .l4{
            min-width: 320px;
        }
        .l7{
            min-width: 320px;
        }
        .l14{
            min-width: 320px;
        }
        .l15{
            min-width: 320px;
        }
        .l16{
            min-width: 320px;
        }
        .l18{
            min-width: 320px;
        }
        .b1{
            min-width: 320px;
        }
        .b2{
            min-width: 320px;
        }
        .b3{
            min-width: 320px;
        }
        .b4{
            min-width: 320px;
        }
        .b5{
            min-width: 320px;
        }
        .b6{
            min-width: 320px;
        }
        .b7{
            min-width: 320px;
        }
        .b8{
            min-width: 320px;
        }
        .b9{
            min-width: 320px;
        }
    }
    
    @media screen and (max-width: 1200px) {
        #p1{
            height: 498%;
        }
    }
    @media screen and (max-width: 800px) {
        #p1{
            height: 498%;
        }
    }
    @media screen and (max-width: 500px) {
        #p1{
            height: 500%;
        }
    }